[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2 = "*"
pillow = "*"
django-ckeditor = "*"
jet-django = "*"
django-jazzmin = "*"
django-cleanup = "*"

[requires]
python_version = "3.8"
